/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Override the 500px min-width from browser-shared.css when in narrow
 * viewports (e.g., the AI sidebar). Without this, content gets clipped.
 * See Bug 2008938.
 */
@media (max-width: 500px) {
  :root {
    --window-min-width: 0;
  }
}
